{% extends 'base.html.twig' %}

{% block content %}
	<h1>Toto est mort</h1>

	<p>
		Chers membres,
		        
		        Nous rencontrons un problème technique rendant la connexion à notre site impossible.
		        
		        Nos équipes informatiques travaillent actuellement à la résolution de ce dysfonctionnement et nous vous invitons à vous
		        connecter ultérieurement.
		        
		        Notre Service des Relations Membres reste disponible du lundi au vendredi de 7h à 20h et le samedi de 9h à 17h au numéro
		        suivant :
		<a href="{{ path('home') }}">return to the homepage</a>.
	</p>
{% endblock %}
